.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.namePlayer {
  margin-right: 20px;
}

input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
}
